FORMAT: 1A
HOST: http://private-1a09f-analytics43.apiary-mock.com

# API Parser

API to parse excel and PDF files in order to fetch relevant tables from the documents.

## Summary [/document/longshort/summary]
Fetches the summary of parsed document and returns the final result

### Summary API [GET]
+ Response 200 (application/json)

        {
            "documents": [
              {
                "name": "name of the document",
                "type": "Balance Sheet",
                "data": [
                          {
                             "id":"1",
                             "name":"Current Assets",
                             "FY 2015":"48901",
                             "FY 2016":"63213",
                             "FY 2017":"80316",
                             "FY 2018":"81224",
                             "FY 2019":"92131",
                             "level":"0",
                             "parentId":null,
                             "isLeaf":false,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"11",
                             "name":"Cash and Short Term Investments",
                             "FY 2015":"19746",
                             "FY 2016":"28827",
                             "FY 2017":"45663",
                             "FY 2018":"42646",
                             "FY 2019":"41743",
                             "level":"1",
                             "parentId":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"12",
                             "name":"Total Receivables",
                             "FY 2015":"26669",
                             "FY 2016":"31747",
                             "FY 2017":"32136",
                             "FY 2018":"36362",
                             "FY 2019":"47922",
                             "level":"1",
                             "parentId":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"13",
                             "name":"Total Inventory",
                             "FY 2015":"125",
                             "FY 2016":"256",
                             "FY 2017":"212",
                             "FY 2018":"173",
                             "FY 2019":"152",
                             "level":"1",
                             "parentId":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"14",
                             "name":"Other Current Assets",
                             "FY 2015":"2361",
                             "FY 2016":"2383",
                             "FY 2017":"2305",
                             "FY 2018":"2043",
                             "FY 2019":"2314",
                             "level":"1",
                             "parentId":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"2",
                             "name":"Non Current Assets",
                             "FY 2015":"24065",
                             "FY 2016":"25883",
                             "FY 2017":"22936",
                             "FY 2018":"25072",
                             "FY 2019":"22812",
                             "level":"0",
                             "parentId":null,
                             "isLeaf":false,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"21",
                             "name":"Net Loans",
                             "FY 2015":"-",
                             "FY 2016":"-",
                             "FY 2017":"-",
                             "FY 2018":"-",
                             "FY 2019":"-",
                             "level":"1",
                             "parentId":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"22",
                             "name":"Net Property/Plant/Equipment",
                             "FY 2015":"11403",
                             "FY 2016":"11641",
                             "FY 2017":"11598",
                             "FY 2018":"11494",
                             "FY 2019":"11374",
                             "level":"1",
                             "parentId":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"23",
                             "name":"Goodwill & Intangibles",
                             "FY 2015":"1792",
                             "FY 2016":"1803",
                             "FY 2017":"1644",
                             "FY 2018":"1757",
                             "FY 2019":"1879",
                             "level":"1",
                             "parentId":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"24",
                             "name":"Other Assets",
                             "FY 2015":"10617",
                             "FY 2016":"12096",
                             "FY 2017":"9350",
                             "FY 2018":"11520",
                             "FY 2019":"9320",
                             "level":"1",
                             "parentId":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          }
                        ]
                },
                {
                "name": "name of the document",
                "type": "Cashflow",
                "data": [
                          {
                             "id":"1",
                             "name":"Current Assets",
                             "FY 2015":"48901",
                             "FY 2016":"63213",
                             "FY 2017":"80316",
                             "FY 2018":"81224",
                             "FY 2019":"92131",
                             "level":"0",
                             "parent":null,
                             "isLeaf":false,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"11",
                             "name":"Cash and Short Term Investments",
                             "FY 2015":"19746",
                             "FY 2016":"28827",
                             "FY 2017":"45663",
                             "FY 2018":"42646",
                             "FY 2019":"41743",
                             "level":"1",
                             "parent":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"12",
                             "name":"Total Receivables",
                             "FY 2015":"26669",
                             "FY 2016":"31747",
                             "FY 2017":"32136",
                             "FY 2018":"36362",
                             "FY 2019":"47922",
                             "level":"1",
                             "parent":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"13",
                             "name":"Total Inventory",
                             "FY 2015":"125",
                             "FY 2016":"256",
                             "FY 2017":"212",
                             "FY 2018":"173",
                             "FY 2019":"152",
                             "level":"1",
                             "parent":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"14",
                             "name":"Other Current Assets",
                             "FY 2015":"2361",
                             "FY 2016":"2383",
                             "FY 2017":"2305",
                             "FY 2018":"2043",
                             "FY 2019":"2314",
                             "level":"1",
                             "parent":"1",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"2",
                             "name":"Non Current Assets",
                             "FY 2015":"24065",
                             "FY 2016":"25883",
                             "FY 2017":"22936",
                             "FY 2018":"25072",
                             "FY 2019":"22812",
                             "level":"0",
                             "parent":null,
                             "isLeaf":false,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"21",
                             "name":"Net Loans",
                             "FY 2015":"-",
                             "FY 2016":"-",
                             "FY 2017":"-",
                             "FY 2018":"-",
                             "FY 2019":"-",
                             "level":"1",
                             "parent":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"22",
                             "name":"Net Property/Plant/Equipment",
                             "FY 2015":"11403",
                             "FY 2016":"11641",
                             "FY 2017":"11598",
                             "FY 2018":"11494",
                             "FY 2019":"11374",
                             "level":"1",
                             "parent":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"23",
                             "name":"Goodwill & Intangibles",
                             "FY 2015":"1792",
                             "FY 2016":"1803",
                             "FY 2017":"1644",
                             "FY 2018":"1757",
                             "FY 2019":"1879",
                             "level":"1",
                             "parent":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          },
                          {
                             "id":"24",
                             "name":"Other Assets",
                             "FY 2015":"10617",
                             "FY 2016":"12096",
                             "FY 2017":"9350",
                             "FY 2018":"11520",
                             "FY 2019":"9320",
                             "level":"1",
                             "parent":"2",
                             "isLeaf":true,
                             "expanded":false,
                             "loaded":true
                          }
                        ]
                }]
             
        }
        
## Layers [/document/longshort/level/0/summary]
Fetches the summary of parsed document and returns the final result

### Layers API [GET]
+ Response 200 (application/json)

        {
            "filename": "name of the file",
            "sheetname": "Sheet1",
            "level": "level 0",
            "type": "xlsx",
            "tables": [
                {
                    "input": [{
                        "name": "range",
                        "label": "Range",
                        "type":"text",
                        "id": "Balance Sheet",
                        "algo": {
                            "label": "Selector Type",
                            "type": "multiple",
                            "value": "sheet optimizer",
                            "enum": [ "default", "sheet optimizer" ],
                            "params": {
                                "skipHeaderRows": {
                                   "label": "Skip top header rows",
                                    "type": "boolean",
                                    "value": true
                                },
                                "skipBlankRows": {
                                   "label": "Blank rows to stop",
                                    "type": "number",
                                    "value": 2
                                },
                                "skipBlankColumns": {
                                   "label": "Blank columns to stop",
                                    "type": "number",
                                    "value": 2
                                }
                            }
                        },
                        "value": "A2:D3"
                    }],
                    "data": [
                        [
                            {
                                "cell": "A0",
                                "value": null
                            },
                            {
                                "cell": "A1",
                                "value": null
                            },
                            {
                                "cell": "A2",
                                "value": "FY 2015"
                            },
                            {
                                "cell": "A3",
                                "value": "FY 2016"
                            }
                        ],
                        [
                            {
                                "cell": "B0",
                                "value": "Current Asset"
                            },
                            {
                                "cell": "B1",
                                "value": "Cash and Short Term Investments"
                            },
                            {
                                "cell": "B2",
                                "value": "19746"
                            },
                            {
                                "cell": "B3",
                                "value": "28699"
                            }
                        ],
                        [
                            {
                                "cell": "C0",
                                "value": " "
                            },
                            {
                                "cell": "C1",
                                "value": "Total Receivables"
                            },
                            {
                                "cell": "C2",
                                "value": "26669"
                            },
                            {
                                "cell": "C3",
                                "value": "31747"
                            }
                        ],
                        [
                            {
                                "cell": "D0",
                                "value": "Non Current Assets"
                            },
                            {
                                "cell": "D1",
                                "value": "Net Loans"
                            },
                            {
                                "cell": "D2",
                                "value": null
                            },
                            {
                                "cell": "D3",
                                "value": null
                            }
                        ],
                        [
                            {
                                "cell": "E0",
                                "value": " "
                            },
                            {
                                "cell": "E1",
                                "value": "Net Property/Plant/Equipment"
                            },
                            {
                                "cell": "E2",
                                "value": "11403"
                            },
                            {
                                "cell": "E3",
                                "value": "11641"
                            }
                        ]
                    ],
                    "sheet": "Balance Sheet"
                },
                {
                    "input": [{
                        "name": "range",
                        "label": "Range",
                        "type":"text",
                        "id": "Cashflow",
                        "algo": {
                            "label": "Selector Type",
                            "type": "multiple",
                            "value": "default",
                            "enum": [ "default", "sheet optimizer" ],
                            "params": {
                                "skipHeaderRows": {
                                   "label": "Skip top header rows",
                                    "type": "boolean",
                                    "value": true
                                },
                                "skipBlankRows": {
                                   "label": "Blank rows to stop",
                                    "type": "number",
                                    "value": 2
                                },
                                "skipBlankColumns": {
                                   "label": "Blank columns to stop",
                                    "type": "number",
                                    "value": 2
                                }
                            }
                        },
                        "value": "A4:D5"
                    }],
                    "data": [
                        [
                            {
                                "cell": "A0",
                                "value": null
                            },
                            {
                                "cell": "A1",
                                "value": null
                            },
                            {
                                "cell": "A2",
                                "value": "FY 2018"
                            },
                            {
                                "cell": "A3",
                                "value": "FY 2019"
                            }
                        ],
                        [
                            {
                                "cell": "B0",
                                "value": "Current Asset"
                            },
                            {
                                "cell": "B1",
                                "value": "Cash and Short Term Investments"
                            },
                            {
                                "cell": "B2",
                                "value": "19746"
                            },
                            {
                                "cell": "B3",
                                "value": "28699"
                            }
                        ],
                        [
                            {
                                "cell": "C0",
                                "value": " "
                            },
                            {
                                "cell": "C1",
                                "value": "Total Receivables"
                            },
                            {
                                "cell": "C2",
                                "value": "26669"
                            },
                            {
                                "cell": "C3",
                                "value": "31747"
                            }
                        ],
                        [
                            {
                                "cell": "D0",
                                "value": "Non Current Assets"
                            },
                            {
                                "cell": "D1",
                                "value": "Net Loans"
                            },
                            {
                                "cell": "D2",
                                "value": null
                            },
                            {
                                "cell": "D3",
                                "value": null
                            }
                        ],
                        [
                            {
                                "cell": "E0",
                                "value": " "
                            },
                            {
                                "cell": "E1",
                                "value": "Net Property/Plant/Equipment"
                            },
                            {
                                "cell": "E2",
                                "value": "11403"
                            },
                            {
                                "cell": "E3",
                                "value": "11641"
                            }
                        ]
                    ],
                    "sheet": "Cashflow"
                }
            ]
        }
        
## Create post [/document/longshort/level/0/summary/edit]

### Create a Post [POST]

+ Request (application/json)

        {
            "user": "longshort",
            "cid": "IVPLongShort"
        }
+ Response 200 (application/json)

        {
            "filename": "name of the file",
            "sheetname": "Sheet1",
            "level": "level 0",
            "type": "xlsx",
            "tables": [
                {
                    "input": [{
                        "name": "range",
                        "label": "Range",
                        "type":"text",
                        "algo": {
                            "label": "Selector Type",
                            "type": "multiple",
                            "value": "default",
                            "enum": [ "default", "sheet optimizer" ],
                            "params": {
                                "skipHeaderRows": {
                                   "label": "Skip top header rows",
                                    "type": "boolean",
                                    "value": true
                                },
                                "skipBlankRows": {
                                   "label": "Blank rows to stop",
                                    "type": "number",
                                    "value": 2
                                },
                                "skipBlankColumns": {
                                   "label": "Blank columns to stop",
                                    "type": "number",
                                    "value": 2
                                }
                            }
                        },
                        "value": "A1:G50"
                    }],
                    "data": [
                        [
                            {
                                "cell": "A0",
                                "value": null
                            },
                            {
                                "cell": "A1",
                                "value": null
                            },
                            {
                                "cell": "A2",
                                "value": "FY 2015"
                            },
                            {
                                "cell": "A3",
                                "value": "FY 2016"
                            }
                        ],
                        [
                            {
                                "cell": "B0",
                                "value": "Current Asset"
                            },
                            {
                                "cell": "B1",
                                "value": "Cash and Short Term Investments"
                            },
                            {
                                "cell": "B2",
                                "value": "19746"
                            },
                            {
                                "cell": "B3",
                                "value": "28699"
                            }
                        ],
                        [
                            {
                                "cell": "C0",
                                "value": " "
                            },
                            {
                                "cell": "C1",
                                "value": "Total Receivables"
                            },
                            {
                                "cell": "C2",
                                "value": "26669"
                            },
                            {
                                "cell": "C3",
                                "value": "31747"
                            }
                        ],
                        [
                            {
                                "cell": "D0",
                                "value": "Non Current Assets"
                            },
                            {
                                "cell": "D1",
                                "value": "Net Loans"
                            },
                            {
                                "cell": "D2",
                                "value": null
                            },
                            {
                                "cell": "D3",
                                "value": null
                            }
                        ],
                        [
                            {
                                "cell": "E0",
                                "value": " "
                            },
                            {
                                "cell": "E1",
                                "value": "Net Property/Plant/Equipment"
                            },
                            {
                                "cell": "E2",
                                "value": "11403"
                            },
                            {
                                "cell": "E3",
                                "value": "11641"
                            }
                        ]
                    ],
                    "sheet": "Balance Sheet"
                }
            ]
        }
        
# API Parser

API to parse excel and PDF files in order to fetch relevant tables from the documents.

## PM [/PM/GetData]
Fetches the summary of parsed document and returns the final result

### PM API [GET]
+ Response 200 (application/json)

        [
            {
                "_id": "5e413693edbc3624b06125d9",
                "BrotaF": null,
                "IntrV_Calc": -4587939,
                "IntrCalc": 7.19,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 3208222.13557463,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "SIRI",
                "AmountKsiF": null,
                "JTZ_S": 4587939,
                "JTR_S": 4587939,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -4587939,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 4587939,
                "JTR": 4587939,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 4587939,
                "AmountDeltaM": -4587939,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -4587939,
                "AmountDeltaF": -4587939,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -4587939,
                "DeltaF": 1,
                "Amount": -638100,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": 0,
                "UndlCalc": 7.19,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": null,
                "FairV": 7.19,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -4587939,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 7.19,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "S",
                "Custodian": "JPM",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": 0,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": -4587939,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": -4587939,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": -4587939,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": 0,
                "MVCalc": -4587939,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": 4587939,
                "AmountThetaM": null,
                "Quantity": -638100,
                "AmountFundaM": null,
                "JTS_L": null,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 1715879.71,
                "Strategy": "CA",
                "UndlVCalc": -4587939,
                "MV_Scalc": -4587939,
                "SecurityName": "SIRI US"
            },
            {
                "_id": "5e413693edbc3624b06125db",
                "BrotaF": null,
                "IntrV_Calc": 6963837,
                "IntrCalc": 78.51,
                "MV_Lcalc": 6963837,
                "NV_Lcalc": 6963837,
                "SMBlockRiskMargin": 2571309.78470097,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "SQ",
                "AmountKsiF": null,
                "JTZ_S": null,
                "JTR_S": null,
                "JTZ_L": -6963837,
                "JTF_S": null,
                "GammaF": null,
                "JTR_L": -6963837,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": 0,
                "JTF_L": 0,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": null,
                "NVMCalc": 6963837,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": -6963837,
                "JTR": -6963837,
                "IntrV_Lcalc": 6963837,
                "AmountBrotaM": null,
                "JTZ": -6963837,
                "AmountDeltaM": 6963837,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": 6963837,
                "IntrV_Scalc": null,
                "AmountDeltaF": 6963837,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": 6963837,
                "DeltaF": 1,
                "Amount": 88700,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": null,
                "UndlCalc": 78.51,
                "AICalc": null,
                "ApproachShortName": "R",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": 0,
                "FairV": 78.51,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": null,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 78.51,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "L",
                "Custodian": "JPM",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": null,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": 6963837,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": 6963837,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": null,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": 0,
                "RClaim": 0,
                "MVCalc": 6963837,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": null,
                "AmountThetaM": null,
                "Quantity": 88700,
                "AmountFundaM": null,
                "JTS_L": -6963837,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 2571309.78470097,
                "Strategy": "CA",
                "UndlVCalc": 6963837,
                "MV_Scalc": null,
                "SecurityName": "SQ US"
            },
            {
                "_id": "5e413693edbc3624b06125dd",
                "BrotaF": null,
                "IntrV_Calc": 275725,
                "IntrCalc": 2.69,
                "MV_Lcalc": 275725,
                "NV_Lcalc": 275725,
                "SMBlockRiskMargin": 33783.99924487,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "RRD",
                "AmountKsiF": null,
                "JTZ_S": null,
                "JTR_S": null,
                "JTZ_L": -275725,
                "JTF_S": null,
                "GammaF": null,
                "JTR_L": -275725,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": 0,
                "JTF_L": 0,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": null,
                "NVMCalc": 275725,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": -275725,
                "JTR": -275725,
                "IntrV_Lcalc": 275725,
                "AmountBrotaM": null,
                "JTZ": -275725,
                "AmountDeltaM": 275725,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": 275725,
                "IntrV_Scalc": null,
                "AmountDeltaF": 275725,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": 275725,
                "DeltaF": 1,
                "Amount": 102500,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": null,
                "UndlCalc": 2.69,
                "AICalc": null,
                "ApproachShortName": "R",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": 0,
                "FairV": 2.69,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": null,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 2.69,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "L",
                "Custodian": "JPM",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": null,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": 275725,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": 275725,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": null,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": 0,
                "RClaim": 0,
                "MVCalc": 275725,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": null,
                "AmountThetaM": null,
                "Quantity": 102500,
                "AmountFundaM": null,
                "JTS_L": -275725,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 33783.99924487,
                "Strategy": "CrA",
                "UndlVCalc": 275725,
                "MV_Scalc": null,
                "SecurityName": "RRD US"
            },
            {
                "_id": "5e413693edbc3624b06125e4",
                "BrotaF": null,
                "IntrV_Calc": 10519.1,
                "IntrCalc": 28.43,
                "MV_Lcalc": 10519.1,
                "NV_Lcalc": 10519.1,
                "SMBlockRiskMargin": 2081250,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "WFT",
                "AmountKsiF": null,
                "JTZ_S": null,
                "JTR_S": null,
                "JTZ_L": -10519.1,
                "JTF_S": null,
                "GammaF": null,
                "JTR_L": -10519.1,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": 0,
                "JTF_L": -10512.07,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": null,
                "NVMCalc": 10519.1,
                "BrotaM": null,
                "JTF": -10512.07,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": -10519.1,
                "JTR": -10519.1,
                "IntrV_Lcalc": 10519.1,
                "AmountBrotaM": null,
                "JTZ": -10519.1,
                "AmountDeltaM": 10519.1,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": 10519.1,
                "IntrV_Scalc": null,
                "AmountDeltaF": 10519.1,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": 10519.1,
                "DeltaF": 1,
                "Amount": 370,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": null,
                "UndlCalc": 28.43,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": 0,
                "FairV": 0.019,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": null,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 28.43,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "L",
                "Custodian": "BRC",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": null,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": 10519.1,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": 7.03,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": null,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": 0,
                "RClaim": 0,
                "MVCalc": 10519.1,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": null,
                "AmountThetaM": null,
                "Quantity": 370,
                "AmountFundaM": null,
                "JTS_L": -10519.1,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 1617.41,
                "Strategy": "SC",
                "UndlVCalc": 10519.1,
                "MV_Scalc": null,
                "SecurityName": "WFTIQ US"
            },
            {
                "_id": "5e413693edbc3624b06125e8",
                "BrotaF": null,
                "IntrV_Calc": 556104,
                "IntrCalc": 23.97,
                "MV_Lcalc": 556104,
                "NV_Lcalc": 556104,
                "SMBlockRiskMargin": 888484.37620344,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "SUPN",
                "AmountKsiF": null,
                "JTZ_S": null,
                "JTR_S": null,
                "JTZ_L": -556104,
                "JTF_S": null,
                "GammaF": null,
                "JTR_L": -556104,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": 0,
                "JTF_L": 0,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": null,
                "NVMCalc": 556104,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": -556104,
                "JTR": -556104,
                "IntrV_Lcalc": 556104,
                "AmountBrotaM": null,
                "JTZ": -556104,
                "AmountDeltaM": 556104,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": 556104,
                "IntrV_Scalc": null,
                "AmountDeltaF": 556104,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": 556104,
                "DeltaF": 1,
                "Amount": 23200,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": null,
                "UndlCalc": 23.97,
                "AICalc": null,
                "ApproachShortName": "R",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": 0,
                "FairV": 23.97,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": null,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 23.97,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "L",
                "Custodian": "BRC",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": null,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": 556104,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": 556104,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": null,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": 0,
                "RClaim": 0,
                "MVCalc": 556104,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": null,
                "AmountThetaM": null,
                "Quantity": 23200,
                "AmountFundaM": null,
                "JTS_L": -556104,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 343193.72,
                "Strategy": "CA",
                "UndlVCalc": 556104,
                "MV_Scalc": null,
                "SecurityName": "SUPN US"
            },
            {
                "_id": "5e413693edbc3624b06125ec",
                "BrotaF": -0.35514588,
                "IntrV_Calc": -808004.73,
                "IntrCalc": 40.4002365,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 888484.37620344,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "N",
                "GammaM": 0.164539,
                "HoldingBlock": "SUPN",
                "AmountKsiF": 33532.5064,
                "JTZ_S": 1859626.27778,
                "JTR_S": 1258324.194446,
                "JTZ_L": null,
                "JTF_S": -38228.383,
                "GammaF": 0.176086,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "PP1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": -1047281.27,
                "NVMCalc": -1855286,
                "BrotaM": -0.31824034,
                "JTF": -38228.383,
                "RecoveryRateCurveRecoveryRate": 30,
                "SecurityBrotaConventionShortName": "PP1%",
                "SMValuationCompletedMV": "true",
                "JTS": 1558975.236113,
                "JTR": 1258324.194446,
                "IntrV_Lcalc": null,
                "AmountBrotaM": 636.48068,
                "JTZ": 1859626.27778,
                "AmountDeltaM": -250206.0094075,
                "AmountBrotaF": 710.29176,
                "SMFundaConventionShortName": "PP1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -808004.73,
                "AmountDeltaF": -261911.35576973,
                "SecurityThetaConventionShortName": "PP1y",
                "MVMCalc": -1855286,
                "DeltaF": 32.414582,
                "Amount": -2000000,
                "Prem": 52.3640635,
                "VegaM": 0.13045819,
                "AmountGammaF": -1422.78320887,
                "QuoteConventionDisplayName": "NP",
                "SecurityGammaConventionShortName": "UP1%",
                "DeltaM": 30.965909,
                "AmountGammaM": -1329.48290269,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": 0.0075,
                "RecV_S": -601302.083334,
                "UndlCalc": 40.4002365,
                "AICalc": 0.21701389,
                "ApproachShortName": "R",
                "VegaF": 0.1384773,
                "MVACalc": -4375,
                "RecV_L": null,
                "FairV": 94.67571915,
                "PremVCalc": -1047281.27,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -808004.73,
                "IsLog": false,
                "CleanDirtyShortName": "C",
                "SecurityKsiConventionShortName": "PP1%",
                "KsiF": -1.67662532,
                "FundaM": -2.78855131,
                "PriceCalc": 92.7643,
                "RhoF": -2.570357,
                "KsiM": -1.64515601,
                "DirectionShortName": "S",
                "Custodian": "BRC",
                "RhoM": -2.47335479,
                "AmountVegaF": -2769.546,
                "SMValuationCompletedFV": "true",
                "AmountVegaM": -2609.1638,
                "SecurityDeltaConventionShortName": "UP",
                "RMoveCalc": -0.01169032,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": -601302.083334,
                "ZedV_S": 0,
                "RecQ": 30,
                "SecurityTypeShortName": "CvB",
                "NVCalc": -1859626.27778,
                "ThetaF": 1.4421661,
                "SubTypeShortName": null,
                "AmountFairV": -1893514.383,
                "SecurityRhoConventionShortName": "PP1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": 2.24059995,
                "NV_SCalc": -1859626.27778,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": -578.28617937,
                "MVCalc": -1859661,
                "AmountKsiM": 32903.1202,
                "AmountRhoF": 5140.714,
                "AmountFundaF": null,
                "JTS_S": 1558975.236113,
                "AmountThetaM": -122.7726,
                "Quantity": -2000000,
                "AmountFundaM": 5577.10262,
                "JTS_L": null,
                "AmountThetaF": -79.0228,
                "AmountRhoM": 4946.70958,
                "NVACalc": -4340.27778,
                "SMBlockPrimeBrokerMargin": 343193.72,
                "Strategy": "CA",
                "UndlVCalc": -808004.73,
                "MV_Scalc": -1859661,
                "SecurityName": "SUPN Cv 0.625 23 *"
            },
            {
                "_id": "5e413693edbc3624b06125f1",
                "BrotaF": null,
                "IntrV_Calc": -2623800,
                "IntrCalc": 218.65,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 351034.67096879,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "RH New",
                "AmountKsiF": null,
                "JTZ_S": 2623800,
                "JTR_S": 2623800,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -2623800,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 2623800,
                "JTR": 2623800,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 2623800,
                "AmountDeltaM": -2623800,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -2623800,
                "AmountDeltaF": -2623800,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -2623800,
                "DeltaF": 1,
                "Amount": -12000,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": 0,
                "UndlCalc": 218.65,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": null,
                "FairV": 218.65,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -2623800,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 218.65,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "S",
                "Custodian": "JPM",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": 0,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": -2623800,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": -2623800,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": -2623800,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": 0,
                "MVCalc": -2623800,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": 2623800,
                "AmountThetaM": null,
                "Quantity": -12000,
                "AmountFundaM": null,
                "JTS_L": null,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 351034.67096879,
                "Strategy": "CA",
                "UndlVCalc": -2623800,
                "MV_Scalc": -2623800,
                "SecurityName": "RH US"
            },
            {
                "_id": "5e413693edbc3624b06125f6",
                "BrotaF": null,
                "IntrV_Calc": -28148744,
                "IntrCalc": 174.62,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 1485434.85402596,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "NICE",
                "AmountKsiF": null,
                "JTZ_S": 28148744,
                "JTR_S": 28148744,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -28148744,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 28148744,
                "JTR": 28148744,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 28148744,
                "AmountDeltaM": -28148744,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -28148744,
                "AmountDeltaF": -28148744,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -28148744,
                "DeltaF": 1,
                "Amount": -161200,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": 0,
                "UndlCalc": 174.62,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": null,
                "FairV": 174.62,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -28148744,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 174.62,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "S",
                "Custodian": "JPM",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": 0,
                "RecQ": 0,
                "SecurityTypeShortName": "ADR",
                "NVCalc": -28148744,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": -28148744,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": -28148744,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": 0,
                "MVCalc": -28148744,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": 28148744,
                "AmountThetaM": null,
                "Quantity": -161200,
                "AmountFundaM": null,
                "JTS_L": null,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 1485434.85402596,
                "Strategy": "CA",
                "UndlVCalc": -28148744,
                "MV_Scalc": -28148744,
                "SecurityName": "NICE US"
            },
            {
                "_id": "5e413693edbc3624b06125fc",
                "BrotaF": -1.68709944,
                "IntrV_Calc": 4268829.2,
                "IntrCalc": 85.376584,
                "MV_Lcalc": 5607050,
                "NV_Lcalc": 5607050,
                "SMBlockRiskMargin": 915257.95,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "N",
                "GammaM": 0.165829,
                "HoldingBlock": "PDD",
                "AmountKsiF": -67869.0505,
                "JTZ_S": null,
                "JTR_S": null,
                "JTZ_L": -5607050,
                "JTF_S": null,
                "GammaF": 0.167989,
                "JTR_L": -5607050,
                "SecurityVegaConventionShortName": "PP1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": 1338220.8,
                "JTF_L": -154876.3005,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": null,
                "NVMCalc": 5607050,
                "BrotaM": -1.73386629,
                "JTF": -154876.3005,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "PP1%",
                "SMValuationCompletedMV": "true",
                "JTS": -5607050,
                "JTR": -5607050,
                "IntrV_Lcalc": 4268829.2,
                "AmountBrotaM": -8669.33145,
                "JTZ": -5607050,
                "AmountDeltaM": 3352694.05785632,
                "AmountBrotaF": -8435.4972,
                "SMFundaConventionShortName": "PP1%",
                "UndlV_Lcalc": 4268829.2,
                "IntrV_Scalc": null,
                "AmountDeltaF": 3333747.92665942,
                "SecurityThetaConventionShortName": "PP1y",
                "MVMCalc": 5607050,
                "DeltaF": 78.095135,
                "Amount": 5000000,
                "Prem": 26.764416,
                "VegaM": 0.34614306,
                "AmountGammaF": 7171.16348479,
                "QuoteConventionDisplayName": "NP",
                "SecurityGammaConventionShortName": "UP1%",
                "DeltaM": 78.53896,
                "AmountGammaM": 7078.95677407,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": -0.0075,
                "RecV_S": null,
                "UndlCalc": 85.376584,
                "AICalc": 0,
                "ApproachShortName": "S",
                "VegaF": 0.34449101,
                "MVACalc": 0,
                "RecV_L": 0,
                "FairV": 109.04347399,
                "PremVCalc": 1338220.8,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": null,
                "IsLog": false,
                "CleanDirtyShortName": "C",
                "SecurityKsiConventionShortName": "PP1%",
                "KsiF": -1.35738101,
                "FundaM": -3.14713409,
                "PriceCalc": 112.141,
                "RhoF": -1.35676875,
                "KsiM": -1.42726949,
                "DirectionShortName": "L",
                "Custodian": "BRC",
                "RhoM": -1.42993504,
                "AmountVegaF": 17224.5505,
                "SMValuationCompletedFV": "true",
                "AmountVegaM": 17307.153,
                "SecurityDeltaConventionShortName": "UP",
                "RMoveCalc": -0.0105605,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": null,
                "RecQ": 0,
                "SecurityTypeShortName": "CvB",
                "NVCalc": 5607050,
                "ThetaF": 1.03815855,
                "SubTypeShortName": null,
                "AmountFairV": 5452173.6995,
                "SecurityRhoConventionShortName": "PP1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": 0.62279585,
                "NV_SCalc": null,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": 0,
                "RClaim": 755.0414495,
                "MVCalc": 5607050,
                "AmountKsiM": -71363.4745,
                "AmountRhoF": -6783.84375,
                "AmountFundaF": null,
                "JTS_S": null,
                "AmountThetaM": 85.3145,
                "Quantity": 5000000,
                "AmountFundaM": -15735.67045,
                "JTS_L": -5607050,
                "AmountThetaF": 142.2135,
                "AmountRhoM": -7149.6752,
                "NVACalc": 0,
                "SMBlockPrimeBrokerMargin": 914560.1,
                "Strategy": "CA",
                "UndlVCalc": 4268829.2,
                "MV_Scalc": null,
                "SecurityName": "PDD Cv 0 24 144A"
            },
            {
                "_id": "5e413693edbc3624b0612602",
                "BrotaF": null,
                "IntrV_Calc": 11069732,
                "IntrCalc": 108.74,
                "MV_Lcalc": 11069732,
                "NV_Lcalc": 11069732,
                "SMBlockRiskMargin": 949758.8,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "TDOC",
                "AmountKsiF": null,
                "JTZ_S": null,
                "JTR_S": null,
                "JTZ_L": -11069732,
                "JTF_S": null,
                "GammaF": null,
                "JTR_L": -11069732,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": 0,
                "JTF_L": 0,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": null,
                "NVMCalc": 11069732,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": -11069732,
                "JTR": -11069732,
                "IntrV_Lcalc": 11069732,
                "AmountBrotaM": null,
                "JTZ": -11069732,
                "AmountDeltaM": 11069732,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": 11069732,
                "IntrV_Scalc": null,
                "AmountDeltaF": 11069732,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": 11069732,
                "DeltaF": 1,
                "Amount": 101800,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": null,
                "UndlCalc": 108.74,
                "AICalc": null,
                "ApproachShortName": "R",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": 0,
                "FairV": 108.74,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": null,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 108.74,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "L",
                "Custodian": "BRC",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": null,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": 11069732,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": 11069732,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": null,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": 0,
                "RClaim": 0,
                "MVCalc": 11069732,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": null,
                "AmountThetaM": null,
                "Quantity": 101800,
                "AmountFundaM": null,
                "JTS_L": -11069732,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 747770.53,
                "Strategy": "CA",
                "UndlVCalc": 11069732,
                "MV_Scalc": null,
                "SecurityName": "TDOC US"
            },
            {
                "_id": "5e413693edbc3624b061260a",
                "BrotaF": null,
                "IntrV_Calc": 5386659,
                "IntrCalc": 117.87,
                "MV_Lcalc": 5386659,
                "NV_Lcalc": 5386659,
                "SMBlockRiskMargin": 308812.33,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "TWLO",
                "AmountKsiF": null,
                "JTZ_S": null,
                "JTR_S": null,
                "JTZ_L": -5386659,
                "JTF_S": null,
                "GammaF": null,
                "JTR_L": -5386659,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": 0,
                "JTF_L": 0,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": null,
                "NVMCalc": 5386659,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": -5386659,
                "JTR": -5386659,
                "IntrV_Lcalc": 5386659,
                "AmountBrotaM": null,
                "JTZ": -5386659,
                "AmountDeltaM": 5386659,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": 5386659,
                "IntrV_Scalc": null,
                "AmountDeltaF": 5386659,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": 5386659,
                "DeltaF": 1,
                "Amount": 45700,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": null,
                "UndlCalc": 117.87,
                "AICalc": null,
                "ApproachShortName": "R",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": 0,
                "FairV": 117.87,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": null,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 117.87,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "L",
                "Custodian": "BRC",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": null,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": 5386659,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": 5386659,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": null,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": 0,
                "RClaim": 0,
                "MVCalc": 5386659,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": null,
                "AmountThetaM": null,
                "Quantity": 45700,
                "AmountFundaM": null,
                "JTS_L": -5386659,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 256617.45,
                "Strategy": "CA",
                "UndlVCalc": 5386659,
                "MV_Scalc": null,
                "SecurityName": "TWLO US"
            },
            {
                "_id": "5e413693edbc3624b0612611",
                "BrotaF": null,
                "IntrV_Calc": -556350,
                "IntrCalc": 37.09,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 1122753.35,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "UBER",
                "AmountKsiF": null,
                "JTZ_S": 556350,
                "JTR_S": 556350,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -556350,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 556350,
                "JTR": 556350,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 556350,
                "AmountDeltaM": -556350,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -556350,
                "AmountDeltaF": -556350,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -556350,
                "DeltaF": 1,
                "Amount": -15000,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": 0,
                "UndlCalc": 37.09,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": null,
                "FairV": 37.09,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -556350,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 37.09,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "S",
                "Custodian": "BRC",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": 0,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": -556350,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": -556350,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": -556350,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": 0,
                "MVCalc": -556350,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": 556350,
                "AmountThetaM": null,
                "Quantity": -15000,
                "AmountFundaM": null,
                "JTS_L": null,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 1046391.47,
                "Strategy": "CrA",
                "UndlVCalc": -556350,
                "MV_Scalc": -556350,
                "SecurityName": "UBER US"
            },
            {
                "_id": "5e413693edbc3624b0612619",
                "BrotaF": null,
                "IntrV_Calc": -12888584,
                "IntrCalc": 16.49,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 2224560,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "VRRM",
                "AmountKsiF": null,
                "JTZ_S": 12888584,
                "JTR_S": 12888584,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -12888584,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 12888584,
                "JTR": 12888584,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 12888584,
                "AmountDeltaM": -12888584,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -12888584,
                "AmountDeltaF": -12888584,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -12888584,
                "DeltaF": 1,
                "Amount": -781600,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": 0,
                "UndlCalc": 16.49,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": null,
                "FairV": 16.49,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -12888584,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 16.49,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "S",
                "Custodian": "BNP",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": 0,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": -12888584,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": -12888584,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": -12888584,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": 0,
                "MVCalc": -12888584,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": 12888584,
                "AmountThetaM": null,
                "Quantity": -781600,
                "AmountFundaM": null,
                "JTS_L": null,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 2224560,
                "Strategy": "VA",
                "UndlVCalc": -12888584,
                "MV_Scalc": -12888584,
                "SecurityName": "VRRM US"
            },
            {
                "_id": "5e413693edbc3624b0612621",
                "BrotaF": null,
                "IntrV_Calc": -2449024,
                "IntrCalc": 57.76,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 592857.44,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "NEP",
                "AmountKsiF": null,
                "JTZ_S": 2449024,
                "JTR_S": 2449024,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -2449024,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 2449024,
                "JTR": 2449024,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 2449024,
                "AmountDeltaM": -2449024,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -2449024,
                "AmountDeltaF": -2449024,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -2449024,
                "DeltaF": 1,
                "Amount": -42400,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": 0,
                "UndlCalc": 57.76,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": null,
                "FairV": 57.76,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -2449024,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 57.76,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "S",
                "Custodian": "JPM",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": 0,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": -2449024,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": -2449024,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": -2449024,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": 0,
                "MVCalc": -2449024,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": 2449024,
                "AmountThetaM": null,
                "Quantity": -42400,
                "AmountFundaM": null,
                "JTS_L": null,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 244663.32,
                "Strategy": "CA",
                "UndlVCalc": -2449024,
                "MV_Scalc": -2449024,
                "SecurityName": "NEP US"
            },
            {
                "_id": "5e413693edbc3624b0612629",
                "BrotaF": null,
                "IntrV_Calc": -4320052,
                "IntrCalc": 20.89,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 3267211.67706017,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "VSH",
                "AmountKsiF": null,
                "JTZ_S": 4320052,
                "JTR_S": 4320052,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -4320052,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 4320052,
                "JTR": 4320052,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 4320052,
                "AmountDeltaM": -4320052,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -4320052,
                "AmountDeltaF": -4320052,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -4320052,
                "DeltaF": 1,
                "Amount": -206800,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
                "ImpliedFundingSpread": null,
                "RecV_S": 0,
                "UndlCalc": 20.89,
                "AICalc": null,
                "ApproachShortName": "S",
                "VegaF": null,
                "MVACalc": 0,
                "RecV_L": null,
                "FairV": 20.89,
                "PremVCalc": 0,
                "DeltaDisplayTrue": "USD",
                "UndlV_SCalc": -4320052,
                "IsLog": false,
                "CleanDirtyShortName": "D",
                "SecurityKsiConventionShortName": "CU1%",
                "KsiF": null,
                "FundaM": null,
                "PriceCalc": 20.89,
                "RhoF": null,
                "KsiM": null,
                "DirectionShortName": "S",
                "Custodian": "JPM",
                "RhoM": null,
                "AmountVegaF": null,
                "SMValuationCompletedFV": null,
                "AmountVegaM": null,
                "SecurityDeltaConventionShortName": "S",
                "RMoveCalc": 0,
                "FundaF": null,
                "SecurityCurrencyISO": "USD",
                "RecV": 0,
                "ZedV_S": 0,
                "RecQ": 0,
                "SecurityTypeShortName": "Eqy",
                "NVCalc": -4320052,
                "ThetaF": null,
                "SubTypeShortName": null,
                "AmountFairV": -4320052,
                "SecurityRhoConventionShortName": "CU1%",
                "SecurityIssuerDefaulted": null,
                "ThetaM": null,
                "NV_SCalc": -4320052,
                "GammaDisplayTrue": "USD1%",
                "ZedQ": "0.00000000",
                "ThetaDisplayTrue": "USD1d",
                "ZedV": 0,
                "ZedV_L": null,
                "RClaim": 0,
                "MVCalc": -4320052,
                "AmountKsiM": null,
                "AmountRhoF": null,
                "AmountFundaF": null,
                "JTS_S": 4320052,
                "AmountThetaM": null,
                "Quantity": -206800,
                "AmountFundaM": null,
                "JTS_L": null,
                "AmountThetaF": null,
                "AmountRhoM": null,
                "NVACalc": null,
                "SMBlockPrimeBrokerMargin": 3267211.67706017,
                "Strategy": "CA",
                "UndlVCalc": -4320052,
                "MV_Scalc": -4320052,
                "SecurityName": "VSH US"
            },
            {
                "_id": "5e413693edbc3624b061262f",
                "BrotaF": null,
                "IntrV_Calc": -23107629,
                "IntrCalc": 30.21,
                "MV_Lcalc": null,
                "NV_Lcalc": null,
                "SMBlockRiskMargin": 2101237.16,
                "VegaDisplayTrue": "USD1%",
                "AmountConventionShortName": "U",
                "GammaM": null,
                "HoldingBlock": "WMGI",
                "AmountKsiF": null,
                "JTZ_S": 23107629,
                "JTR_S": 23107629,
                "JTZ_L": null,
                "JTF_S": 0,
                "GammaF": null,
                "JTR_L": null,
                "SecurityVegaConventionShortName": "CU1%",
                "AsOfDate": "Thu Feb 06 00:00:00 UTC 2020",
                "PremV_Lcalc": null,
                "JTF_L": null,
                "RhoDisplayTrue": "USD10bp",
                "PremV_Scalc": 0,
                "NVMCalc": -23107629,
                "BrotaM": null,
                "JTF": 0,
                "RecoveryRateCurveRecoveryRate": 0,
                "SecurityBrotaConventionShortName": "CU1%",
                "SMValuationCompletedMV": null,
                "JTS": 23107629,
                "JTR": 23107629,
                "IntrV_Lcalc": null,
                "AmountBrotaM": null,
                "JTZ": 23107629,
                "AmountDeltaM": -23107629,
                "AmountBrotaF": null,
                "SMFundaConventionShortName": "CU1%",
                "UndlV_Lcalc": null,
                "IntrV_Scalc": -23107629,
                "AmountDeltaF": -23107629,
                "SecurityThetaConventionShortName": "CU1y",
                "MVMCalc": -23107629,
                "DeltaF": 1,
                "Amount": -764900,
                "Prem": 0,
                "VegaM": null,
                "AmountGammaF": null,
                "QuoteConventionDisplayName": "CU",
                "SecurityGammaConventionShortName": "S1%",
                "DeltaM": 1,
                "AmountGammaM": null,
                "KsiDisplayTrue": "USD1%",
[...]
